/* This is the main CSS document*/


/*All Pages*/
#pageFade{
  display:none;
}

.header-text{
  font-family: 'Bitter', serif;
  font-size:70px
}

.subheader-text{
  font-family: 'Bitter', serif;
  font-size: 40px;
}

.body-header-text{
  font-family: 'Hind', sans-serif;
  font-size: 33px;
}

.body-text{
  font-family: 'Hind', sans-serif;
  font-size: 23px;
}

.page-links{
  font-family: 'Bitter', serif;
  font-size: 32px;
}

.header-nav{
  font-family: 'Hind', serif;
  font-size: 25px;
}

.footer-text{
  font-family: 'Hind', sans-serif;
  font-size: 17px;
}

@keyframes fadein{
  from{opacity:0;}
  to{opacity:1;}
}

body, html {
  height: 100%;
  margin: 0;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}


/* Contact Page */
.contact-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Contact_1.png');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}


/* Index Page */
.index-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Homepage_1.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}


/* Locations Page */
.locations-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Location_1.jpg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}


/* About Page */
.about-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/About_Us_1.jpg');
  height: 50%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}


/* Menu Page */
.menu-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Menu_1.jpg');
  height: 50%;
  background-position: 15% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}


/* Shop Page */
.shop-hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/Shop_1.jpg');
  height: 50%;
  background-position: 15% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  animation: fadein 1.5s;
}

.shop-image{
  width: 200px;
  height: 200px;
  object-fit: cover;
}